<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bytedance.sdk.openadsdk.adhost"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="28"
        tools:overrideLibrary="com.ss.android.crash.log, android.support.graphics.drawable.animated,      android.support.graphics.drawable, android.support.v4, android.support.mediacompat, android.support.fragment,      android.support.coreui, android.support.coreutils, android.support.compat, android.arch.lifecycle,      android.arch.lifecycle.livedata.core, android.arch.core, android.arch.lifecycle.viewmodel,      com.ss.android.downloadlib, com.ss.android.downloadad, com.ss.android.downloadapi,      com.ss.android.socialbase.appdownloader, com.ss.android.socialbase.downloader,com.bytedance.crash" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:label="@string/app_name"
        android:usesCleartextTraffic="true" >
        <service android:name="com.ss.android.socialbase.downloader.notification.DownloadNotificationService" />
        <service android:name="com.ss.android.socialbase.downloader.downloader.DownloadService" />
        <service
            android:name="com.ss.android.socialbase.downloader.downloader.IndependentProcessDownloadService"
            android:exported="false"
            android:process=":downloader" >
            <intent-filter>
                <action android:name="com.ss.android.socialbase.downloader.remote" />
            </intent-filter>
        </service>
        <service android:name="com.ss.android.socialbase.downloader.impls.DownloadHandleService" />

        <!-- <receiver android:name="com.ss.android.socialbase.downloader.downloader.DownloadReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name="com.ss.android.socialbase.downloader.impls.RetryJobSchedulerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 数据库更新service -->
        <service android:name="com.ss.android.socialbase.downloader.downloader.SqlDownloadCacheService" />
        <!-- APP DOWNLOADER START -->
        <service android:name="com.ss.android.socialbase.appdownloader.DownloadHandlerService" /> <!-- <receiver android:name="com.ss.android.socialbase.appdownloader.DownloadReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- <action android:name="android.ss.intent.action.DOWNLOAD_COMPLETE"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED"/> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED"/> -->
        <!-- <data android:scheme="package"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MEDIA_MOUNTED"/> -->
        <!-- <data android:scheme="file"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name="com.ss.android.socialbase.appdownloader.view.DownloadTaskDeleteActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ss.android.socialbase.appdownloader.view.JumpUnknownSourceActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ss.android.downloadlib.activity.TTDelegateActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ss.android.downloadlib.guide.install.InstallGuideActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="com.ss.android.downloadlib.core.download.DownloadReceiver" /> <!-- 下面的activity和service必须注册 -->
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTWebPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTPlayableWebPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTVideoWebPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTVideoScrollWebPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTDelegateActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTRewardExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTFullScreenVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.base.TTFullScreenExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard" />

        <service android:name="com.bytedance.sdk.openadsdk.multipro.aidl.BinderPoolService" />

        <receiver
            android:name="com.bytedance.embedapplog.collector.Collector"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.bytedance.tea.crash.upload.CrashUploadService"
            android:process=":npth" />
    </application>

</manifest>