<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.rumtel.ad">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>
        <!--
            百度
        -->
        <activity android:name="com.baidu.mobads.AppActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <provider android:name="com.baidu.mobads.openad.FileProvider"
                  android:authorities="${applicationId}.bd.provider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/bd_file_paths"/>
        </provider>

        <!--
            腾讯 广点通
        -->
        <service
                android:name="com.qq.e.comm.DownloadService"
                android:exported="false"/>
        <activity
                android:name="com.qq.e.ads.ADActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
                android:name="com.qq.e.ads.PortraitADActivity"
                android:screenOrientation="portrait"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
                android:name="com.qq.e.ads.LandscapeADActivity"
                android:screenOrientation="landscape"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值 -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/gdt_file_path"/>
        </provider>

    </application>

</manifest>
